# Maven
**/target/
**/pom.xml.tag
**/pom.xml.releaseBackup
**/pom.xml.versionsBackup
**/pom.xml.next
**/release.properties
**/dependency-reduced-pom.xml
**/.mvn/timing.properties
**/.mvn/wrapper/maven-wrapper.jar

# IDE
**/.idea/
**/.vscode/
**/*.iml
**/.project
**/.classpath
**/.settings/

# Git
.git/
.gitignore
.gitattributes

# Documentation
README.md
ARCHITECTURE_OVERVIEW.md

# Logs
**/*.log

# OS
.DS_Store
Thumbs.db

# Other
**/node_modules/

