spring:
  application:
    name: gateway
  config:
    import: optional:configserver:${CONFIG_SERVER_URL:http://config-service:8081}
  cloud:
    config:
      fail-fast: false
      retry:
        max-attempts: 20
        initial-interval: 1500
        multiplier: 1.2
        max-interval: 3000

server:
  port: 8080

# JWT Token configuration
jwt:
  secret: dGVzdC1zZWNyZXQta2V5LWZvci1qd3QtdG9rZW4tZ2VuZXJhdGlvbi1hbmQtdmFsaWRhdGlvbi0yMDI1
  token-validity-in-seconds: 86400